head
	title ООО Марва-тур

	// Meta-tags: main
	meta(charset="UTF-8")
	meta(name="description" content="")
	meta(name="keywords" content="")

	// Meta-mobile
	meta(name="viewport" content="width=device-width, initial-scale=1")

	// Meta optimize
	meta(name="HandheldFriendly" content="True")
	meta(name="MobileOptimized" content="320")
	meta(http-equiv="cleartype" content="on")
	
	// Styles
	link(rel="stylesheet" href="style/flickity.min.css")
	link(rel="stylesheet" href="style/main.css")

	link(rel="shortcut icon" href="favicon.ico")