

// Scripts
script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD_KiE7iRWdGplFjjVJ41SmS9CSeXCFkVQ&sensor=true")
script(src="js/jquery-1.min.js")
script(src="js/jquery.min.js")
script(src="js/modernizr.js")
script(src="js/flickity.pkgd.min.js")
script(src="js/packery.pkgd.min.js")
script(src="js/main.js")


//	
	IE js fix
	***
	[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/jquery-1.min.js"></script>
	<![endif]