// ==========================
// Contact section
// ==========================
.page_heading-center
	h1 Контакты

.contacts
	.container
		.row

			// Contact block ===========
			// =========================
			.col-md-2.col-sm-1.col-xs-4
				.cont_icon
					img(src="img/icons/adres.png")

			.col-md-4.col-sm-5.col-xs-8
				.cont_info
					h1       	Офис в махачкале
					.address 	ул. Азиза Алиева, дом 24 367000
					.cont 
						h2   	Тел.
						span 	+7 (8722) 56-66-62
						span 	+7 988 207-00-09
					.cont
						h2   	E-Mail
						span 	admin@marwaltd.com

			// Contact block ===========
			// =========================
			.col-md-2.col-sm-1.col-xs-4
				.cont_icon
					img(src="img/icons/adres.png")

			.col-md-4.col-sm-5.col-xs-8
				.cont_info
					h1       	Офис в москве
					.address 	Смоленский бульв., 22/14 119002
					.cont 
						h2   	Тел.
						span 	+7 (499) 248-23-75
					.cont
						h2   	E-Mail
						span 	admin@marwaltd.com