// ==========================
// Book download section
// ==========================
.book
	.container
		.row
			.item.col-md-3.col-sm-12
				h1 Книга "Коротко о хадже"
			
			.item.col-md-2.col-sm-6
				a.book_link(href="") Android
			.item.col-md-2.col-sm-6
				a.book_link(href="") E-Book
			
			.item.col-md-5.col-sm-12
				p
					| В этой книге изложен необходимый минимум и порядок совершения Хаджа от начала и до конца