.stolp
	.stolp_image
		img(src="img/stolp_photo/ihram.png")
	.container
		.title Столпы ислама

		.row.active(data-image="ihram")
			.line-item.col-md-1.col-sm-3
				span.number.act 1
			.line-item.col-md-2.col-sm-3
				h1.act Ихрам
			.line-item.col-md-4.col-sm-6
				p
					| особое состояние духовной чистоты паломника, совершающего хадж.
					| Для пребывания в нём требуется совершить полное омовение тела,
					| облачиться в особые одеяния и соблюдать правила ихрама.
		.row(data-image="tawaf")
			.line-item.col-md-1.col-sm-3
				span.number.act 3
			.line-item.col-md-2.col-sm-3
				h1.act Таваф
			.line-item.col-md-4.col-sm-6
				p
					| или тауа́ф — ритуальный обход против часовой стрелки вокруг Каабы
					| во время хаджа. Первый таваф совершается сразу по прибытии в Мекку.
		.row(data-image="sai")
			.line-item.col-md-1.col-sm-3
				span.number.act 3
			.line-item.col-md-2.col-sm-3
				h1.act Са`и
			.line-item.col-md-4.col-sm-6
				p
					|бег между холмами Сафа и Марва, один из элементов хаджа и умры.
					|Са`й выполняется после обхода Каабы (тавафа).
		.row(data-image="arafa")
			.line-item.col-md-1.col-sm-3
				span.number.act 4
			.line-item.col-md-2.col-sm-3
				h1.act Арафа
			.line-item.col-md-4.col-sm-6
				p
					|гора в 20 км от Мекки. Именно отсюда Мухаммад произнес свою последнюю проповедь.
					|Стояние на горе Арафат является кульминацией хаджа. После стояния, которое длится
					|до заката солнца, следует обряд побивания Сатаны камнями в долине Мина.
					|В мусульманской мифологии у горы Арафат встретились и узнали друг друга изгнанные
					|из рая в разные места земли Адам и Хавва.

.stolp--mobile
	.container
		.title Столпы ислама

		.st_mob_item
			h2 Ихрам
			p
				| особое состояние духовной чистоты паломника, совершающего хадж.
				| Для пребывания в нём требуется совершить полное омовение тела,
				| облачиться в особые одеяния и соблюдать правила ихрама.
				
		.st_mob_item
			h2 Таваф
			p
				| или тауа́ф — ритуальный обход против часовой стрелки вокруг Каабы
				| во время хаджа. Первый таваф совершается сразу по прибытии в Мекку.
				
		.st_mob_item
			h2 Са`и
			p
				|бег между холмами Сафа и Марва, один из элементов хаджа и умры.
				|Са`й выполняется после обхода Каабы (тавафа).
				
		.st_mob_item
			h2 Арафа
			p
				|гора в 20 км от Мекки. Именно отсюда Мухаммад произнес свою последнюю проповедь.
				|Стояние на горе Арафат является кульминацией хаджа. После стояния, которое длится
				|до заката солнца, следует обряд побивания Сатаны камнями в долине Мина.
				|В мусульманской мифологии у горы Арафат встретились и узнали друг друга изгнанные
				|из рая в разные места земли Адам и Хавва.
