/*
=====================
WORK FILES
=====================
*/
@import 'variables.styl'
@import 'reset.styl'
@import 'typography.styl'
@import 'mixins.styl'
@import 'animations.styl'
@import 'b-grid.styl'

/*
=====================
BLOCKS
=====================
*/
@import 'blocks/general.styl'
@import 'blocks/inner_general.styl'

// Main section blocks
@import 'blocks/main_top.styl'

@import 'blocks/main_menu.styl'
@import 'blocks/mobile_menu.styl'

@import 'blocks/main_slider.styl'
@import 'blocks/main_programs.styl'
@import 'blocks/main_book.styl'
@import 'blocks/main_media.styl'
@import 'blocks/main_contacts.styl'
@import 'blocks/otz.styl'
@import 'blocks/map.styl'
@import 'blocks/stolp.styl'
@import 'blocks/therms.styl'
@import 'blocks/photogallery.styl'

// News styles
@import 'blocks/news.styl'
@import 'blocks/article_inner.styl'