// Colors
main_blue_semitrans = rgba(40,68,118,.8)
	 top_light_blue = #476aa8
		  main_blue = #284476
			  salad = #6bab9d
			   gold = #ffa500
			   gray = #2a2a2a

// Blocks
after =
	content ''
	display inline-block
	position absolute