.contacts
	margin-bottom 32px

.cont_icon
	width 100%
	text-align right
	padding-right 32px
	
.cont_info
	h1
		{boblic}
		color main_blue
		text-transform uppercase
		font-size 36px
		margin 16px 0
		font-weight normal
		
		sm =
			font-size 24px
		adapt(sm)
		
	.address
		{clean}
		font-size 32px
		font-weight bold
		margin 16px 0
		
		sm =
			font-size 18px
		adapt(sm)
		
	.cont
		margin 24px 0
		
		h2
			font-size 28px
			font-weight normal
			color main_blue
			margin 8px 0
		span
			{clean}
			display block
			font-size 18px
	
.cont_person
	padding 24px
	margin-bottom 64px
	text-align center
	{clean}
	
	.photo
		display block
		margin 16px auto
		border 4px solid main_blue
		border-radius 50%
		overflow hidden
		height 180px
		width 180px
		
		sm =
			height 140px
			width 140px
		mid =
			height 180px
			width 180px
		nor =
			height 245px
			width 245px
		big =
			height 275px
			width 275px
		adapt(sm,mid,nor,big)
		
		img
			height 100%
			
	.info 
		.title
			{boblic}
			font-size 28px
			text-transform uppercase
			color main_blue
			margin 24px 0
			
			&::after
				{after}
				width 120px
				height 1px
				background main_blue
				bottom -12px
				left 50%
				margin-left -60px
			
		.whois
			margin 20px 0
			color main_blue
			font-size 18px
			text-transform uppercase
			
		.conts
			span 
				font-size 18px
				margin-bottom 12px
				display block
				text-align center
				color #727272
		
		