.book
	width 100%
	// height 80px
	background salad
	color #fff
	margin 16px 0
	
	sm = 
		height auto
	adapt(sm)
	
	h1
		font-size 24px
		display inline-block
		font-weight normal
	
	.row
		height 100%

	.item
		height 100%
		line-height 80px
		display inline-block
		vertical-align middle
		
		sm =
			text-align center
		adapt(sm)
	
	.book_link
		{boblic}
		display inline-block
		font-size 18px
		border 4px solid transparent
		padding 12px
		padding-left 56px
		background url('../img/icons/book.png') no-repeat 16px center
		color #fff
		transition all .3s ease
		text-transform uppercase
		
		&:hover
			border 4px solid #fff
		
	p
		top 8px
		display inline-block
		font-family 'arial'
		font-size 14px
		line-height 1.5
		
