.therms
	
	.search input
		{clean}
		display inline-block
		width 100%
		margin 16px 0
		padding 16px 32px 16px 0
		border none
		border-bottom 2px solid main_blue
		
		background url('../img/icons/big_search.png') no-repeat right center

		font-size 14px
		text-transform uppercase
		color main_blue
		
	.therm 
		{clean}
		display inline-block
		vertical-align top
		margin 16px 0
		padding-right 32px
		
		.title
			font-size 18px
			color main_blue
			padding 12px 0
			font-weight bold
			
			&::after
				{after}
				left 0
				bottom 0
				width 100px
				height 1px
				background main_blue
				
		.desc
			margin 12px 0
			font-size 18px
			line-height 1.2
			color #222
