doctype html
html(lang='ru')
	include blocks/general/head.jade
	
	body
		include blocks/general/inner_top.jade

		.inner_content
			.container
				.breadcumbs
					a(href="") Главная
					|   /  
					a(href="") Информация
					|   /  
					a(href="") Статьи

				.inner_title
					h1
						| Перевод молитв, приводимых в книге имама
						| аль-Газали «Фатхуль Аллам», желательные
						| для чтения в день Арафат
				.row
					.article.col-md-9.col-sm-8.col-xs-12
						p
							|Дорогие паломники! Мы собрали для вас перевод молитв, приводимых в книге имама аль-Газали «Фатхуль Аллам», желательные для чтения в день Арафат.
							|«О, мой Аллах! Ты освети мое сердце, освети мои глаза, расширь мою душу, облегчи мне дело. О  мой Аллах, о Всевышний, ниспосылающий блага, о создавший из ничего небеса и земли. На разных языках, обращаясь к Тебе, паломники произнесли различные звуки, они у Тебя просят исполнить нужды. Моя нужда в том, чтобы в могиле не был покинут, когда буду забыт живыми.
							|Дорогие паломники! Мы собрали для вас перевод молитв, приводимых в книге имама аль-Газали «Фатхуль Аллам», желательные для чтения в день Арафат.
							|«О, мой Аллах! Ты освети мое сердце, освети мои глаза, расширь мою душу, облегчи мне дело. О  мой Аллах, о Всевышний, ниспосылающий блага, о создавший из ничего небеса и земли. На разных языках, обращаясь к Тебе, паломники произнесли различные звуки, они у Тебя просят исполнить нужды. Моя нужда в том, чтобы в могиле не был покинут, когда буду забыт живыми.
							|Дорогие паломники! Мы собрали для вас перевод молитв, приводимых в книге имама аль-Газали «Фатхуль Аллам», желательные для чтения в день Арафат.
							|«О, мой Аллах! Ты освети мое сердце, освети мои глаза, расширь мою душу, облегчи мне дело. О  мой Аллах, о Всевышний, ниспосылающий блага, о создавший из ничего небеса и земли. На разных языках, обращаясь к Тебе, паломники произнесли различные звуки, они у Тебя просят исполнить нужды. Моя нужда в том, чтобы в могиле не был покинут, когда буду забыт живыми.
							|Дорогие паломники! Мы собрали для вас перевод молитв, приводимых в книге имама аль-Газали «Фатхуль Аллам», желательные для чтения в день Арафат.
							|«О, мой Аллах! Ты освети мое сердце, освети мои глаза, расширь мою душу, облегчи мне дело. О  мой Аллах, о Всевышний, ниспосылающий блага, о создавший из ничего небеса и земли. На разных языках, обращаясь к Тебе, паломники произнесли различные звуки, они у Тебя просят исполнить нужды. Моя нужда в том, чтобы в могиле не был покинут, когда буду забыт живыми.
						
						
						table
							tr
								td Заголовок
								td Заголовок
								td Заголовок
								td Заголовок
							tr
								td Ячейка таблицы
								td Ячейка таблицы
								td Ячейка таблицы
								td Ячейка таблицы
							tr
								td Ячейка таблицы
								td Ячейка таблицы
								td Ячейка таблицы
								td Ячейка таблицы
							tr
								td Ячейка таблицы
								td Ячейка таблицы
								td Ячейка таблицы
								td Ячейка таблицы
							tr
								td Ячейка таблицы
								td Ячейка таблицы
								td Ячейка таблицы
								td Ячейка таблицы
							tr
								td Ячейка таблицы
								td Ячейка таблицы
								td Ячейка таблицы
								td Ячейка таблицы
							tr
								td Ячейка таблицы
								td Ячейка таблицы
								td Ячейка таблицы
								td Ячейка таблицы

						.col-md-3
							ul
								li Пункт списка
								li Пункт списка
								li Пункт списка
								li Пункт списка
								li Пункт списка

						.col-md-3
							ul
								li Пункт списка
								li Пункт списка
								li Пункт списка
								li Пункт списка
								li Пункт списка

						.col-md-3
							.check
								input(type="checkbox" id="ch1" checked)
								label(for="ch1")
								span Чекбокс
								
							.check
								input(type="checkbox" id="ch2")
								label(for="ch2")
								span Чекбокс

							.check
								input(type="checkbox" id="ch3")
								label(for="ch3")
								span Чекбокс
								
							.check
								input(type="checkbox" id="ch4")
								label(for="ch4")
								span Чекбокс

							.check
								input(type="checkbox" id="ch5")
								label(for="ch5")
								span Чекбокс

						.col-md-2
							.check
								form
									input(type="radio" id="rd1" checked)
									label(for="rd1")
									span Радио
										<br>
									input(type="radio" id="rd2")
									label(for="rd2")
									span Радио
										<br>
									input(type="radio" id="rd3")
									label(for="rd3")
									span Радио
										<br>
									input(type="radio" id="rd4")
									label(for="rd4")
									span Радио
										<br>
									input(type="radio" id="rd5")
									label(for="rd5")
									span Радио

						.divider

						span.date 12.02.2015

						.share
							span(style="font-size: 14px;") Поделиться статьей
							span {Тут социальные}


					.article_extra.col-md-3.col-sm-4.col-xs-12
						.next
							h2: a(href="") Следующая статья >>
							img(src="img/photos/article.jpg")
							a(href="") Всех прибывающих в Саудовскую Аравию хаджиев проверяют на Эболу.
						.links
							a(href="") Всех прибывающих в Саудовскую Аравию хаджиев проверяют на Эболу.
							a(href="") Всех прибывающих в Саудовскую Аравию хаджиев проверяют на Эболу.
							a(href="") Всех прибывающих в Саудовскую Аравию хаджиев проверяют на Эболу.
							a(href="") Всех прибывающих в Саудовскую Аравию хаджиев проверяют на Эболу.
							a(href="") Всех прибывающих в Саудовскую Аравию хаджиев проверяют на Эболу.
							a(href="").button Все статьи

		.page_heading-center
			h1 Контакты

		include blocks/index/main_map.jade
		include blocks/general/footer.jade			
		include blocks/general/scripts.jade