doctype html
html(lang='ru')
	include blocks/general/head.jade
	
	body

		include blocks/general/preloader.jade

		include blocks/index/main_slider.jade
		include blocks/index/main_program.jade
		include blocks/index/main_news.jade
		include blocks/index/main_book.jade
		include blocks/index/main_media.jade
		include blocks/index/stolp.jade
		include blocks/index/main_otz.jade
		include blocks/index/main_contact.jade
		include blocks/index/main_map.jade
		include blocks/general/footer.jade			
		include blocks/general/scripts.jade