mixin term_block
	.therm.col-md-4.col-sm-6.col-xs-12
		.title Арафат
		.desc
			|Долина, посещение которой является основным обрядом-рукну хаджа;
			|День Арафат — 9-й день месяца зуль-хиджа. В этот день встретились
			|Адам и Хава после переселения на землю
	
	.therm.col-md-4.col-sm-6.col-xs-12
		.title Ваджиб
		.desc
			|Обязательный обряд Хаджа, неисполнение которого не портит хадж. Если паломник пропустит один из обязательных обрядов-ваджиб, он обязан выплатить штраф — совершить жертвоприношение в Мекке. Если же у него на это нет средств, он должен поститься 10 дней: 3дня в Мекке, а остальные 7 после возвращения на родину.
	
	.therm.col-md-4.col-sm-6.col-xs-12
		.title Айяму-тташрик
		.desc
			|Последующие три дня после Куран-Байрама
	
	.therm.col-md-4.col-sm-6.col-xs-12
		.title Проверка на многострочность. Длинное название
		.desc
			|Долина, посещение которой является основным обрядом-рукну хаджа;
			|День Арафат — 9-й день месяца зуль-хиджа. В этот день встретились
			|Адам и Хава после переселения на землю

doctype html
html(lang='ru')
	include blocks/general/head.jade
	
	body
		include blocks/general/inner_top.jade

		.inner_content
			.container
				.breadcumbs
					a(href="") Главная
					|   /  
					a(href="") Информация
					|   /  Словарь терминов

				.inner_title
					h1 Словарь терминов

				.therms

					.search.col-md-5.col-sm-8.col-xs-12
						input(type="text" placeholder="поиск термина")

					.list#therm_list
						.row
							+term_block
							+term_block
							+term_block
							+term_block
				
		.page_heading-center
			h1 Контакты

		include blocks/index/main_map.jade
		include blocks/general/footer.jade			
		include blocks/general/scripts.jade